*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/*Home Page Styling */
header{
    display:flex;
    justify-content:space-between;
    min-height:8vh;
    align-items: center;
    border-bottom:5px solid purple;
}
span{
    margin-left: 1rem;
    color:orange;
}

.nav{
    display:flex;
    list-style:none;
    margin-right: 1rem;
}
li{
    margin-left: 1rem;
    font-size:1.5rem;
}

.main{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height: 50vh;
    background-image: url(images/showcase.jpg);
}
.content{
    text-align:center;
    color:white;
}
h1{
font-size:4rem;
}

.subscribe{
    border-bottom: 2px solid purple;
}

.newsletter{
    display:flex;
    justify-content:space-between;
    min-height:5vh;
    align-items:center;
    margin: 0 2rem;
    font-size: 1.2rem;
}
button{
    padding:0.3rem;
    background-color:orange;
}
.logos{
    display:flex;
    justify-content:space-between;
    margin:1rem;
    align-items:flex-start;    
    border-bottom: 2px solid red;
}

.logo{
    text-align: center;
    margin:1rem;
}
.logos img{
    height:10vh;
}

footer{
    text-align:center;  
    font-size: 1rem;  
}

/* About Us */

.cont{
    display:flex;
    min-height: 75vh;    
    text-align: start;
}

.about{
    display:flex;
    flex-direction: column;
    margin: 1rem;
    max-width: 50%;
}

.text{
    margin-top: 1rem;
    background-color:yellowgreen;
}
.whatWedo{
    margin-top:3rem;
}

/* Services Page */

.area{
    display: flex;
    margin:0.5rem 0rem 0.5rem 2rem ;
    justify-content:space-between;
    min-height:73vh;

}

.services{
    display:inline-flex;
    min-width:50%;
    flex-direction: column;
}

.headline{
    margin-bottom: 1rem;
}
.offers{

    margin:0.1rem;
    padding:4vh;
    padding-top: 6vh;
    padding-bottom: 6vh;
    background-color:lightgray;
}

.website{
margin-bottom: 1rem;
}

form{
    display:block;
    margin:1rem 3rem 3rem 3rem;
    background-color: blue;
    color: white;
    min-width:28%;
    height: 100%;
}

.quote{
    margin: 1.5rem 0rem 1rem 1rem;
    font-size: 20px;
}
label{
    display: block;
    margin-left: 1rem;
}

#name,#email,#message{
    margin-left: 1rem;
    width:80%;
}

.Send{
    display:block;
    margin-left: 1rem;
}

