*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/*Home Page Styling */
header{
    display:flex;
    justify-content:space-between;
    min-height:8vh;
    align-items: center;
    border-bottom:2px solid rgb(207, 59, 207);
    color:white;
    background-color: #35424A;
}

.name{
    margin-left: 1rem;
    color: rgb(207, 59, 207);
}

.nav{
    display:flex;
    list-style:none;
    margin-right: 2rem;
}

li{
    margin-left: 2rem;
    font-size:1rem;
}

a{
    text-decoration: none;
    color: white;
}

.main{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height: 45vh;
    background-image: url(images/showcase.jpg);
}

.content{
    text-align:center;
    color:white;
}

h1{
font-size:4rem;
}

.newsletter{
    display:flex;
    min-height: 8vh;
    justify-content:space-between;
    width: 100%;
    background-color:#35424A;
    align-items:center;
    padding: 0 2rem 0 1rem;
    font-size: 1.2rem;
    color:white;
    
}

.input{
    display:flex;
    font-size: 0.6rem;
}

button{
    padding:0.5rem;
    background-color:rgb(255, 94, 0);
    margin-left: 0.2rem;
    border:none;
    color:#fff;
}

.logos{
    display:flex;
    justify-content:space-between;
    align-items:flex-start;   
    min-height: 25vh;     
}

.logo{
    text-align: center;
    margin:1rem;
}

.logos img{
    height:10vh;
}

footer{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    flex-grow: stretch;
    font-size: 1rem;  
    background-color: #35424A;
    height: 14vh;
    color: white;
    
}
.footer-img{
    margin: 3rem 0 1.5rem 0;
    
}


/* About Us */

.cont{
    display:flex;
    min-height: 70vh;    
    text-align: start;
    justify-content:space-between;
    line-height: 1.4em;

}

.about{
    display:flex;
    flex-direction: column;
    margin: 1.5rem;
    max-width: 60%; 
}

.text{
    margin-top: 1.5rem;
    background-color:#35424A;
    color: white;
    padding: 1rem;
}
h3{
    padding-bottom:1rem;
}

.whatWedo{
    display:flex;
    flex-direction:column;
    margin:1.5rem;
    margin-top:2rem;
    color:white;
    background-color:#35424A;
    width:30%;
    height: 50%;
    padding:1rem;
}

/* Services Page */

.area{
    display: flex;
    margin:0.5rem 0rem 0.5rem 2rem;
    justify-content:space-between;
    min-height:68vh;

}

.services{
    display:inline-flex;
    min-width:50%;
    flex-direction: column;
}

.headline{
    margin:0.5rem 0 0.5rem 0 ;
}

.offers{
    padding:3vh;
    margin:0.12rem;
    padding-top: 3vh;
    padding-bottom: 3vh;
    background-color:rgba(213, 223, 207, 0.986);
}

.website{
margin-bottom: 1rem;
}

form{
    display:block;
    margin:1rem 3rem 3rem 3rem;
    background-color: blue;
    color: white;
    min-width:28%;
    height: 100%;
    background-color:#35424A;
}

.quote{
    margin: 1.5rem 0rem 1rem 1rem;
    font-size: 20px;
}

label{
    display: block;
    margin-left: 1rem;
} 

#name,#email,#message{
    margin-left: 1rem;
    width:80%;
}

.Send{
    display:block;
    margin-left: 1rem;
    margin-bottom:1rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
}

